@import ./../../assets/sass/colors

.container-not-found
  display: flex
  flex-direction: column
  min-height: 100vh

.main-content
  flex-grow: 1
  padding-top: 200px

.main-text
  color: $purple
  font-family: 'Raleway', sans-serif
  font-weight: 400
  font-size: 40px
  text-align: center

.profile-wrapper
  display: flex
  flex-direction: row
  min-width: 100vw
  min-height: 100%

.profile-side-bar
  max-width: 30%
  min-height: 100%

.repositories-wrapper
  max-width: 70%
  flex-grow: 1
  min-height: 100%

